
    .card {
      width: 1000px;
      margin: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
      /* &:hover {
        transform: scale(1.05);
      } */
    }

  .card-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

.internalMatGrid {
  min-width: 90%;
}

.matGridTile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s ease-in-out;
}

.matGridTile:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
