<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <div class="content-container" fxLayout="column">
        <h1 class="error-number">500</h1>
        <h2>Houston, we have a problem </h2>
        <p>
            We track these errors automatically, but if the problem persists feel free to contact us. In the
            meantime, try refreshing.
        </p>
        <p>
            <a href="/">Let us take you home.</a>
        </p>
    </div>

    <!-- <mat-card-content fxLayout="column"> -->

    <!-- </mat-card-content> -->
</div>