<mat-card style="height: 100%;">
    <mat-card-header fxLayout="column">
        <mat-card-title class="card-header error-number">500</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
        <div>

            <h2>Houston, we have a problem </h2>
            <p>
                We track these errors automatically, but if the problem persists feel free to contact us. In the
                meantime, try refreshing.
            </p>
            <p>
                <a href="/">Let us take you home.</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>